<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Blog</title>
</head>
<body>
    <form method="post" action="/posts">
        <div style="display: flex; gap: 10px;">
         <textarea placeholder="Write Title" rows="10" cols="40" name="title"></textarea> <br><br>
        <textarea placeholder="Write your Blog" rows="20" cols="50" name="content"></textarea><br>
        </div>
         <button>Submit Blog</button>
    </form>
</body>
</html>